
</div>
<div class="footer-padding"></div>
  <div class="footer">
<p class="socials">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fas fa-envelope"></i></a>
</p>
  </div>
</div>
</body>
</html>
