<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <!-- Bootstrap and other CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <nav class="navbar navbar bg-dark">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">PROJECT BLOG</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="blogs"><a href="/blogs">BLOGS</a></li>
          <li id="compose"><a href="/compose">COMPOSE</a></li>
          <li id="about"><a href="/about">ABOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
