<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Project Blog allows you to post and read blogs. Google Authentication is required for a user to sign in. Once they are, they can read blogs from different users, filter them using constraints and post their own blogs!</p>
    <p>To get started, compose your own blog by clicking on the COMPOSE button above.</p>
    <p>You can read blogs that have already been posted by several users by clicking on the BLOGS button.</p>
    <hr>
    <p>This web application was created as a project for "Web Development", which is a course offered by NSUT that qualifies one with the essentials of Web Development.</p>
<%- include("partials/footer"); -%>
